.fivestar-widget {
  display: inline-block!important;
  vertical-align: middle;

  .description {
    display: none;
  }
  .ajax-progress-throbber {
    display: none;
  }
}

.fivestar-static-item {
  display: inline-block;
  vertical-align: middle;

  .form-item {
    margin: 0;
  }
}

.form-type-fivestar {
  line-height: 0;
}
