.node {
  &--full {
    position: relative;
    padding-left: 10px;

    .node__content {
      margin-bottom: $vert-spacing-unit;
      overflow: hidden;
    }

    .node__submitted {
      top: $vert-spacing-unit;
    }

    .node__links {
      margin-top: $vert-spacing-unit;
    }

    .field {
      float: left;
      overflow: hidden;
      margin-right: 12px;
      .field__label {
        float: left;
        margin-right: 4px;
      }
      .field__items {
        float: left;
      }
      .field__item {
        float: left;
        margin-right: 4px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  &__submitted {
    @extend %wallp-date;
  }
}
