.node {
  &--full {
    position: relative;
    padding-left: 10px;

    .node__content {
      margin-bottom: $vert-spacing-unit;
      padding-top: $vert-spacing-unit / 1.5;
      overflow: hidden;
    }

    .node__submitted {
      position: absolute;
      top: 16px;
      font-size: 14px;
      @include s('calendar');
      text-indent: 28px;
    }

    .field {
      float: left;
      overflow: hidden;
      margin-right: $horz-spacing-unit;
      .field__label {
        float: left;
        margin-right: $horz-spacing-unit / 2;
        font-size: 14px;
      }
      .field__items {
        float: left;
        font-size: 14px;
      }
      .field__item {
        float: left;
        margin-right: 4px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  &--teaser {
    @extend %wallp-node;

    .node__submitted {
      @extend %wallp-date;
      width: 100%;
      bottom: 0;
      text-align: center;
    }
  }
}


.field {
  &--name-field-wallpaper-rating {
    .field__label {
      @include s('rating');
      width: 24px;
      height: 24px;
      color: transparent;
    }
  }
  &--name-field-download-count {
    margin-left: 110px;
    .field__label {
      @include s('download');
      width: 24px;
      height: 24px;
      color: transparent;
    }
  }
  &--name-field-tag-categories {
    .field__label {
      @include s('category');
      width: 24px;
      height: 24px;
      color: transparent;
    }
  }
  &--name-field-tags {
    .field__label {
      @include s('tags');
      width: 24px;
      height: 24px;
      color: transparent;
    }
  }
}
