.user-profile-category {
  padding: 0 10px;
}

.user-pass {
  padding: $vert-spacing-unit / 2 10px;
}

.wallpaper-node-form {
  padding: $vert-spacing-unit / 2 10px;

  .field-name-field-download-count,
  .field-name-field-term-colors,
  #edit-preview,
  .description,
  .file-icon {
    display: none;
  }

  .form-text {
    width: 260px;
    height: 24px;
  }
  .form-select {
    margin-right: 3px;
  }

  .field-type-image {
    .form-submit {
      display: block;
      margin-top: $vert-spacing-unit / 2;
    }
  }
}
