.block--views-exp-search-page {
  width: 236px;
  margin: 0 auto $vert-spacing-unit auto;
  @include breakpoint($xs_min) {
    margin: $vert-spacing-unit * 2 4px 0 0;
    float: right;
  }
  .views-exposed-widget {
    padding: 0;
    .form-text {
      width: 170px;
    }
    .form-submit {
      margin: 0 0 0 10px;
    }
  }
}
