.block--views-categories-block,
.block--views-colors-block,
.block--tagclouds {
  margin-bottom: $vert-spacing-unit;
  border: 1px solid $block-border;
  // border-radius: 4px;

  .block__title {
    @extend %block-title;
    border-bottom: 1px solid $block-border;
  }

  .block__content {
    background: $block-content;
    overflow: hidden;
    padding: 10px;
  }
}

.block--views-categories-block {
  ul {
    margin: 0;
    padding-left: 20px;
    font-size: 14px;
    list-style-position: inside;
  }
  .view-content {
    overflow: hidden;
    > ul {
      > li {
        width: 50%;
        float: left;
      }
    }
  }
}
