.l-region--sidebar {
  .block {
    margin-bottom: $vert-spacing-unit;
    border: 1px solid $block-border;

    @include breakpoint($sm_min $sm_max) {
      @include span(4 of 12 split);
    }

    &__title {
      @extend %block-title;
      border-bottom: 1px solid $block-border;
    }

    &__content {
      background: $block-content;
      overflow: hidden;
      padding: 10px;
    }
  }
}

.block--views-categories-block {
  ul {
    margin: 0;
    padding-left: 10px;
    font-size: 13px;
    list-style-position: inside;
  }
  .view-content {
    overflow: hidden;
    > ul {
      > li {
        width: 50%;
        float: left;
      }
    }
  }
}
