.block--views-categories-block,
.block--views-colors-block,
.block--tagclouds {
  margin-bottom: 10px;
  border: 1px solid $block-border;

  .block__title {
    border-bottom: 1px solid $block-border;
    color: $block-title;
    background: $block-header;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    padding: 0 12px;
  }

  .block__content {
    overflow: hidden;
    padding: 10px;
  }
}

.block--views-categories-block {
  ul {
    margin: 0;
    padding-left: 20px;
    font-size: 14px;
    list-style-position: inside;
  }
  .view-content {
    overflow: hidden;
    > ul {
      > li {
        width: 50%;
        float: left;
      }
    }
  }
}
