.social_login {
  margin: 0!important;
  position: relative;
  top: 3px;
}

iframe[id^="oa_social_login_frame"] {
  position: absolute;
}

#edit-social-login-core-create-account,
#edit-social-login-core-link-account {
  display: none;
}

.block--social-login-widget {
  max-width: 170px;
  height: 40px;
  overflow: hidden;
}
