.view-taxonomy-term,
.view-front-page-content {
  .view-content {
    @include nested(9);
    overflow: hidden;
  }
  .views-row {
    @include span(3 of 9 split);
    position: relative;
    margin-top: 15px;
    padding: 4px;
    border: 1px solid $item-border;
    border-top-color: $item-top;
  }
  .node--wallpaper--teaser {
    position: relative;
    header {
      display: none;
    }
  }
  .node__submitted {
    position: absolute;
    padding-right: 5px;
    font-size: 12px;
    text-indent: 5px;
    background: rgba($bg-content, 0.9);
    color: #eee;
    p {
      margin: 0;
    }
  }
  .node__links {
    display: none;
  }
}
