.wallp {
  overflow: hidden;

//   &__title {
//    text-align: center;
//    font-size: 14px;
//    margin: 0;
//    visibility: hidden;
//  }

  &__popup {
    outline:none;
    &:active,
    &:focus {
      outline:none;
    }
  }

  &--full {
    clear: both;
    .wallp__image {
      margin: $vert-spacing-unit / 2 auto;
      max-width: 95%;
      @include breakpoint($sm_min $sm_max) {
        max-width: 70%;
      }
      padding: 7px;
      border: solid 1px $block-border;
      text-align: center;
    }
  }

  &-colors {
    overflow: hidden;
    max-width: 140px;
    margin: 0 auto;
    @include breakpoint($xs_min) {
      float: right;
      margin: 0 $horz-spacing-unit;
    }
    &__label {
      float: left;
      margin-right: 4px;
      @include s('palette');
      width: 24px;
      height: 24px;
      color: transparent;
    }

    &__thumb {
      float: left;
      margin-top: 3px;
      margin-right: 4px;
      width: 18px;
      height: 18px;
      text-decoration: none;
      &:hover,
      &:active,
      &:focus {
        outline: #fff solid 1px;
        text-decoration: none;
      }
      &--big {
        display: inline-block;
        float: none;
        width: 21.5px;
        height: 21.5px;
        margin: 0 1px;
      }
    }
  }

  &-download {
    padding: 0 20px;
    overflow: hidden;
    font-size: 14px;

    .form-select {
      font-size: 13px;
    }

    &__row {
      margin: $vert-spacing-unit / 2 0 $vert-spacing-unit 0;
      overflow: hidden;
      @include breakpoint(max-width $xs_min) {
        text-align: center;
        margin: 0;
      }
    }

    &__form {
      &--desktop {
        float: left;
      }
      &--mobile {
        float: right;
      }
      @include breakpoint(max-width $xs_min) {
        width: 100%;
        clear: both;
        margin: $vert-spacing-unit / 2 0;
      }
    }

    &__icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 3px;
      width: 24px;
      height: 24px;

      &--desktop {
        @include s('desktop');
      }
      &--mobile {
        @include s('mobile');
      }
    }

    &__orig {
      float: left;
      @include breakpoint(max-width $xs_min) {
        margin-bottom: $vert-spacing-unit / 2;
        display: inline-block;
        float: none;
      }

      &-icon {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        @include s('picture');
      }
      &-size {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &__user {
      float: left;
      margin-left: $horz-spacing-unit;
      @include breakpoint(max-width $xs_min) {
        margin-bottom: $vert-spacing-unit / 2;
        display: inline-block;
        float: none;
      }

      &-icon {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        @include s('user');
      }
    }

    &__block {
      margin: $vert-spacing-unit / 3 0;
      overflow: hidden;
    }

    &__link {
      @extend %btn-link;
      @extend %btn-sm;
      width: 80px;
      margin-right: 3px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__manual {
      float: right;
      @include breakpoint(max-width $xs_min) {
        width: 100%;
        clear: both;
        margin-bottom: $vert-spacing-unit;
      }

      &-link {
        display: inline-block;
        visibility: hidden;
      }
      &-icon {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        @include s('cut');
      }
      &-form {
        display: inline-block;
      }
      .form-text {
        width: 64px;
        font-size: 13px;
      }
    }
  }
}
