.wallp {
  overflow: hidden;

  &__title {
    text-align: center;
    font-size: 14px;
    margin-bottom: 24px;
  }

  &--full {
    clear: both;
    .wallp__image {
      margin: $vert-spacing-unit / 2 auto;
      max-width: 70%;
      @include breakpoint ($md) {
        max-width: 95%;
      }
      padding: 7px;
      border: solid 1px $block-border;
      text-align: center;
    }
  }

  &-colors {
    float: right;
    margin-right: $horz-spacing-unit;

    &__label {
      float: left;
      margin-right: 4px;
      @include s('palette');
      width: 24px;
      height: 24px;
      color: transparent;
    }

    &__thumb {
      float: left;
      margin-top: 3px;
      margin-right: 4px;
      width: 18px;
      height: 18px;
      text-decoration: none;
      &:hover,
      &:active,
      &:focus {
        border: solid 1px $link-default;
        text-decoration: none;
      }
    }
  }

  &-download {
    padding: 0 20px;
    overflow: hidden;
    font-size: 14px;

    .form-select {
      font-size: 13px;
    }

    &__row {
      margin: $vert-spacing-unit / 2 0 $vert-spacing-unit 0;
      overflow: hidden;
    }

    &__form {
      &--desktop {
        float: left;
      }
      &--mobile {
        float: right;
      }
    }

    &__icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 3px;
      width: 24px;
      height: 24px;

      &--desktop {
        @include s('desktop');
      }
      &--mobile {
        @include s('mobile');
      }
    }

    &__orig {
      float: left;

      &-icon {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        @include s('picture');
      }
      &-size {
        display: inline-block;
        vertical-align: middle;
      }
    }

    &__user {
      float: left;
      margin-left: $horz-spacing-unit;

      &-icon {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        @include s('user');
      }
    }

    &__block {
      margin: $vert-spacing-unit / 3 0;
      overflow: hidden;
    }

    &__link {
      @extend %btn-link;
      @extend %btn-sm;
      width: 80px;
      margin-right: 3px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__manual {
      float: right;

      &-link {
        display: inline-block;
        visibility: hidden;
      }
      &-icon {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        @include s('cut');
      }
      &-form {
        display: inline-block;
      }
      .form-text {
        width: 64px;
        font-size: 13px;
      }
    }
  }
}
