// background
$bg-default     : #0e0e0e;
$bg-content     : #0e0e0e;

// footer
$footer-border  : #1f1f1f;

// text
$text-default   : #9c9c9c;
$text-lighten   : #b6b6b6;
$text-lightest  : #d7d7d7;
$text-shadow    : #000;
$text-white     : #fff;

// links
$link-default   : #c3964f;

// blocks
$block-title    : #1f1f1f;
$block-content  : transparent;
$block-text     : #fff;
$block-border   : #464545;

// teaser
$teaser-border  : #2f2f2f;
$teaser-top     : #c3964f;

// search
$search-bg      : #0e0e0e;
$search-border  : #2f2f2f;
$search-btn     : #252525;

// messages
$status-text    : #be7;
$error-text     : #ed541d;

// buttons
$btn-ok-bg      : #558000;
$btn-ok-text    : #fff;

$btn-link-bg    : #2c2c2c;
$btn-link-text  : #fff;

// form control
$control-bg      : #fff;
$control-text    : #464545;
$control-border  : #f1f1f1;
