$bg-default     : #0e0e0e;
$bg-content     : #0c0401;

$text-default   : #9c9c9c;
$text-medium    : #9c9c9c;

$link-default   : #c3964f;

$content-header : #190500;
$content-title  : #dac797;
$content-border : #2f2f2f;

$aside-header   : #190500;
$aside-title    : #dac797;
$aside-border   : #2f2f2f;

$item-border    : #2f2f2f;
$item-top       : #c3964f;

$search-bg      : #0e0e0e;
$search-border  : #2f2f2f;
$search-btn     : #252525;

// messages
$status-text    : #be7;
$error-text     : #ed541d;
