// background
$bg-default     : #0e0e0e;
$bg-content     : #0e0e0e;

// text
$text-default   : #9c9c9c;

// links
$link-default   : #c3964f;

// blocks
$block-header   : #222;
$block-title    : #fff;
$block-border   : #464545;

// teaser
$teaser-border  : #2f2f2f;
$teaser-top     : #c3964f;

// date
$date-bg        : #0c0401;
$date-color     : #eee;

// search
$search-bg      : #0e0e0e;
$search-border  : #2f2f2f;
$search-btn     : #252525;

// messages
$status-text    : #be7;
$error-text     : #ed541d;

// buttons
$btn-ok-bg      : #558000;
$btn-ok-text    : #fff;

$btn-link-bg    : #2c2c2c;
$btn-link-text  : #fff;

// input
$input-bg       : #0e0e0e;
$input-text     : #9c9c9c;
$input-border   : #2f2f2f;
$input-outline  : #b48333;
