$vert-spacing-unit: 24px;
$horz-spacing-unit: 1rem;

$mb_min: 480px;
$mb_max: 639px;
$xs_min: 640px;
$xs_max: 739px;
$sm_min: 740px;
$sm_max: 959px;
$md: 960px;
$lg: 1024px;

$susy: (
  columns: 12,
  container: 1024px,
  gutters: .25,
  gutter-position: inside,
  debug: (
    // image: show,
  )
);

%container {
  @include container();
}
