$vert-spacing-unit: 24px;
$horz-spacing-unit: 1rem;

$xs: 600px;
$sm_min: 768px;
$sm_max: 959px;
$md: 960px;
$lg: 1024px;

$susy: (
  columns: 12,
  container: 1024px,
  gutters: .25,
  gutter-position: inside,
  debug: (
    // image: show,
  )
);

%container {
  @include container();
}
