$vert-spacing-unit: 24px;
$horz-spacing-unit: 1rem;

$xs: 600px;
$sm: 768px;
$md: 1024px;
$lg: 1140px;

$susy: (
  columns: 12,
  container: 1140px,
  gutters: .25,
  gutter-position: inside,
  debug: (
    // image: show,
  )
);

%container {
  @include container();
}
