%form-element {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="text"],
input[type="password"],
input[type="search"] {
  @extend %form-element;
}

textarea {
  @extend %form-element;
  border-style: inset;
  height: auto;
  resize: none;
}

button[type="submit"],
input[type="submit"] {
  border-style: solid;
  border-width: 0;
  text-decoration: none;
  text-align: center;
}

.form-text {
  padding: 3px;
  padding-left: 10px;
  border: solid 1px $input-border;
  outline: none;
  background: $input-bg;
  color: $input-text;
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px $input-bg inset;
    -webkit-text-fill-color: $input-text!important;
  }
  &:focus {
    border: solid 1px $input-outline;
  }
  &.error {
    border: 1px solid red;
    &:focus {
      border: solid 1px $input-outline;
    }
  }
  @include input-placeholder {
    color: $input-text;
    font-size: 14px;
  }
}

.form-submit {
  @extend %btn-ok;
}

.form-textarea {
  resize: none;
  background: $input-bg;
  color: $input-text;
  border: solid 1px $input-border;
  &:focus {
    outline: none;
    border: solid 1px $input-outline;
  }
}
