%form-element {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="text"],
input[type="password"],
input[type="search"] {
  @extend %form-element;
}

textarea {
  @extend %form-element;
  border-style: inset;
  height: auto;
  resize: none;
}

button[type="submit"],
input[type="submit"] {
  border-style: solid;
  border-width: 0;
  text-decoration: none;
  text-align: center;
}

%form-control {
  display: inline-block;
  padding: 3px 5px;
  vertical-align: middle;
  font-size: 15px;
  color: $control-text;
  background: $control-bg;
  border: 1px solid $control-border;
  border-radius: 4px;
}

.form-text {
  @extend %form-control;
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px $control-bg inset;
    -webkit-text-fill-color: $control-text!important;
  }
  &.error {
    border: 1px solid red;
  }
  @include input-placeholder {
    color: $control-text;
  }
}

.form-submit {
  @extend %btn-ok;
}

.form-textarea {
  @extend %form-control;
}

.form-select {
  @extend %form-control;
}
