@import 'compass';
@import 'breakpoint';
@import 'susy';

@import '../../utils/_colors.scss';
@import '../../utils/_fonts.scss';
@import '../../utils/_grid.scss';

.topline {
  &__container {
    @extend %container;
  }
}

.header {
  &__container {
    @extend %container;
  }
  &__title {
    @include leader;
    a {
      text-transform: uppercase;
      font-family: $intro-regular;
      &:hover {
        text-decoration: none;
        color: darken($link-default, 15%);
      }
    }
  }
  &__slogan {
    @include trailer;
    font-size: 21px;
    color: $text-medium;
    font-weight: normal;
  }
}

.nav {
  &__container {
    @extend %container;
  }
}

.main {
  &__container {
    @extend %container;
    background: $bg-content;
  }
}

.content {
  @include span(8 of 12);
}

.sidebar {
  @include span(last 4 of 12);
}

.footer {
  &__container {
    @extend %container;
  }
}

