@import 'compass';
@import 'breakpoint';
@import 'susy';

@import '../../utils/_colors.scss';
@import '../../utils/_fonts.scss';
@import '../../utils/_grid.scss';

.topline {
  &__container {
    @extend %container;
  }
}

.header {
  &__container {
    @extend %container;
  }
  &__title {
    @include leader;
    @include trailer;
    a {
      text-transform: uppercase;
      font-family: $intro-regular;
      color: $site-title;
      &:hover {
        text-decoration: none;
        color: lighten($site-title, 15%);
      }
    }
  }
}

.nav {
  &__container {
    @extend %container;
  }
}

.main {
  &__container {
    @extend %container;
    background: $bg-content;
  }
}

.content {
  @include span(11 of 16);
  padding: 10px;

  &__title {
    @include adjust-font-size-to(16px);
    padding-top: 3px;
    padding-bottom: 7px;
    border-bottom: 1px solid #222;
    color: $content-title;
  }
}

.sidebar {
  @include span(last 5 of 16);
  padding: 10px;
}

.footer {
  &__container {
    @extend %container;
  }
}

