.topline__container, .header__container, .nav__container, .main__container, .footer__container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.topline__container:after, .header__container:after, .nav__container:after, .main__container:after, .footer__container:after {
  content: " ";
  display: block;
  clear: both;
}

.header__title {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  float: left;
  padding-left: 10px;
}
.header__title a {
  display: block;
}
.header__title a span {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('../../../images/logo.png?1446706829');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 250px;
  height: 56px;
  display: block;
}

.main__container {
  background: #0c0401;
}

.content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 68.75%;
  float: left;
  padding-left: 0.625%;
  padding-right: 0.625%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content__title {
  font-size: 1em;
  line-height: 1.5em;
  margin-left: 10px;
  padding: 4px 0 4px 10px;
  background: #190500;
  border: 1px solid #2f2f2f;
  border-top: 3px solid #2f2f2f;
  color: #dac797;
}

.sidebar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 31.25%;
  float: right;
  padding-left: 0.625%;
  padding-right: 0.625%;
  padding: 10px;
}
