@font-face {
  font-family: "Lato";
  src: url('../../../fonts/lato-regular.woff?1447308188') format('woff');
}
@font-face {
  font-family: "Lato";
  src: url('../../../fonts/lato-bold.woff?1447308188') format('woff');
  font-weight: bold;
}
.topline__container, .header__container, .nav__container, .main__container, .footer__container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.topline__container:after, .header__container:after, .nav__container:after, .main__container:after, .footer__container:after {
  content: " ";
  display: block;
  clear: both;
}

.content__title {
  padding: 10px 15px;
  font-size: 16px;
  line-height: 16px;
  background: #1f1f1f;
  color: #fff;
  font-weight: normal;
}

.header__title {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  float: left;
  padding-left: 10px;
}
.header__title a {
  display: block;
}
.header__title a:hover, .header__title a:active, .header__title a:focus {
  text-decoration: none;
  color: #a67c39;
}

.main__container {
  background: #0e0e0e;
}

.content {
  padding: 10px 0;
}
@media (min-width: 960px) {
  .content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 68.75%;
    float: left;
    padding-left: 0.625%;
    padding-right: 0.625%;
  }
}
.content__row {
  padding-left: 1.5%;
  padding-right: 0.75%;
}
.content__title {
  border: 1px solid #464545;
}

.sidebar {
  padding: 10px;
}
@media (min-width: 960px) {
  .sidebar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.25%;
    float: right;
    padding-left: 0.625%;
    padding-right: 0.625%;
  }
}
