%wallp-container {
  @include nested(12);
  overflow: hidden;
}

%wallp-item {
  position: relative;
  margin-top: 15px;
  padding: 4px;
  border: 1px solid $teaser-border;
  border-top-color: $teaser-top;
  @include span(6 of 12 split);
  @include breakpoint($md) {
    @include span(4 of 12 split);
  }
}

%wallp-node {
  position: relative;
  h2 {
    display: none;
  }
  .node__links {
    display: none;
  }
}

%wallp-date {
  position: absolute;
  font-size: 12px;
  text-indent: 5px;
  p {
    margin: 0;
  }
}
