%wallp-container {
  @include nested(9);
  overflow: hidden;
}

%wallp-item {
  @include span(3 of 9 split);
  position: relative;
  margin-top: 15px;
  padding: 4px;
  border: 1px solid $teaser-border;
  border-top-color: $teaser-top;
}

%wallp-node {
  position: relative;
  h2 {
    display: none;
  }
  .node__links {
    display: none;
  }
}

%wallp-date {
  position: absolute;
  padding-right: 5px;
  font-size: 12px;
  text-indent: 5px;
  background: rgba($date-bg, 0.9);
  color: $date-color;
  p {
    margin: 0;
  }
}
