%wallp-container {
  @include nested(9);
  overflow: hidden;
}

%wallp-item {
  @include span(3 of 9 split);
  position: relative;
  margin-top: 15px;
  padding: 4px;
  border: 1px solid $item-border;
  border-top-color: $item-top;
}

%wallp-date {
  position: absolute;
  padding-right: 5px;
  font-size: 12px;
  text-indent: 5px;
  background: rgba($bg-content, 0.9);
  color: #eee;
}
